/* Replace the gray background with something that matches your colors.  You can use .pngs with alpha transparency. If you don't use an image, you need to remove ours*/

/*   KTH change*/
#header {
   position: relative;
    z-index: 11;
    background-image: url("https://dl.dropboxusercontent.com/u/5164106/banroad2science.png") ;
    background-position: center ;
    background-repeat: no-repeat ;
    background-color: #fff69b
}


/*
#main {
  position: relative;
  z-index: 10;
  background-color: white;
  border: 1px solid #b6babf;
  border-top: 0;
  margin-bottom: 40px;
  *zoom: 1;
  min-height: 450px;
  max-width: 100%; 
  width: 100%
  }
*/

/*replace the canvas logo with your logo 
#header-logo, #header.no-user #header-logo {
  background: url("header_logo.png?v1") no-repeat scroll 0 0 transparent;
  bottom: 0px;
  height: 70px;
  left: 15px;
  width: 191px;
}

#header {
    position: relative;
    z-index: 11;
    background: url("https://dl.dropboxusercontent.com/u/5164106/banroad2science.png") center no-repeat rgb(255, 246, 155); 
    background-color: #fff69b
}
*/

/*if you replace the left canvas logo, move a smaller one to the right side of the header--I made the image gray first
#header-logo-secondary {
  background: url("header_canvas_logo2.png?v1") no-repeat scroll 0 0 transparent;
  bottom: 11px;
  height: 26;
  position: absolute;
  right: 26px;
  width: 135px;
  display: block;
}
*/

/*if your logo is bigger, you can make room like this
#menu { margin-left: 200px; }

/*change the identity bar (the area that says "Hilary Scharton Inbox Settings Logout Help)
#identity {
  background-image: none;
  background-color: #A1C42E;
}

/*change the color of the identity text
#identity a { color: black; }
/*change the color of the circle around the number of unread inbox messages
#identity .inbox a .unread-messages-count { background-color: #F2F0DD; }
#identity #identity-help-container a { color: black; }

/*change the color of the menu items (courses & groups etc.). If the text looks fuzzy, remove the text shadow.
.menu-item .menu-item-title, .menu-item .menu-item-no-drop {
  color: #FAFBF4;
  text-shadow: none;
}

/*login box

#modal-box.login-box { background: url("Slide1.jpg?v1") no-repeat !important }

/*this will remove the extra canvas logo
body.modal #modal-box.login-box h1 { 
  background: none;
  height: 235px;
}

/*resize the login box to fit my image and change the color of 'stay signed in'
body.modal #modal-box.login-box { 
  height: 435px;
  width: 610px;
  color: #2784A0;
}

/*change the color of 'don't know your password'
body.modal #modal-box.login-box a { color: #2784A0 !important; } 

/*change the color of the login button
body.modal #modal-box .button, body.modal #login-box .button {
  background-color: #EBF5FA !important;
  background-image: none !important;
  border-color: #668F78;
}
  
#login_form .btn-primary, #login_form .btn-primary:hover {
  background-color: #ae5321;
  background-image: none;
  border: none !important;
  }
  
  */